<div class="contenedor-principal">

  <app-carrusel [listImgCarrusel]="listImgCarrusel" ></app-carrusel>

  <app-card-instrumento [rutaRelativa]="rutaRelativa" [tituloSeccion]="tituloUltimosAgregados" [listaProductosMasVendidos]="listaUltimosAgregados"></app-card-instrumento>

  <app-card-instrumento [rutaRelativa]="rutaRelativa" [tituloSeccion]="tituloProductosMasVendidos" [listaProductosMasVendidos]="listaProductosMasVendidos"></app-card-instrumento>

  <!-- <app-card-instrumento [rutaRelativa]="rutaRelativa" [tituloSeccion]="tituloPromociones" [listaProductosMasVendidos]="listaPromociones"></app-card-instrumento> -->

</div>
