<div class="container contenedor-abrir-modal">
  <button class="boton-abrir-modal" mat-button (click)="openDialog()">Nuevo Instrumento</button>
</div>

<div class="container">
  <h3 style="padding-left: 10px;">Filtrar instrumento por nombre</h3>
  <input class="input-buscar" type="text" [(ngModel)]="campoBuscar" placeholder="Ingrese para filtrar" (ngModelChange)="buscarInstrumento(campoBuscar)">
</div>

<div class="container">

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Stock</th>
      <th style="text-align: center;" colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of instrumentoFiltrado">
      <td>{{item.nombre}}</td>
      <td>{{item.marca?.nombre}}</td>
      <td>{{item.precio}}</td>
      <td>{{item.stock}}</td>
      <td style="text-align: center; cursor: pointer;" (click)="abrirDialogo(item.idInstrumento!)">Editar</td>
      <td style="text-align: center; cursor: pointer; color: brown;" (click)="eliminarRegistro(item.idInstrumento!)">Eliminar</td>
    </tr>
  </tbody>
</table>

</div>
